    /* h1{
        color: rgb(47, 2, 6);
        background: lightcoral;
    }
    body{
        border-color: burlywood;
    }
    button{
        text-transform: uppercase;
        text-decoration: wavy;
    } */
 

    /* event css */
/* div{
    height: 200px;
    width: 200px;
    background-color: darkgrey;
    color: black;
    border: 2px solid black;
}

     */

     /* prcteve css */

     .drk{

        background-color: black;
        color: white;
     }

     .light{
        background-color: white;
        color: black;
     }